/workshops/FP02_ControlStatement/nbproject/private/
/workshops/FP02_ControlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperations/JavaApplication6/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/JavaApplication6/build/
/workshops/unit1/HW02/ASSIGNMENTS/HW02/nbproject/private/
/workshops/unit1/HW02/ASSIGNMENTS/HW02/build/
/assignments/Unit1/HW02/HW02_01/nbproject/private/
/assignments/Unit1/HW02/HW02_01/build/
/assignments/Unit1/HW02/HW02_02/nbproject/private/
/assignments/Unit1/HW02/HW02_03/nbproject/private/
/assignments/Unit1/HW02/HW02_03/build/
/assignments/Unit1/HW02/HW02_02/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/Unit1/HW03_Interations/nbproject/private/
/assignments/Unit1/HW03_Interations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/Unit1/HW04Menus/nbproject/private/
/assignments/Unit1/HW04Menus/build/
/assignments/Unit1/HW02Menus/nbproject/private/
/Exams/Unit1/BacuyDianaFernandaQ1/nbproject/private/
/Exams/Unit1/BacuyDianaFernandaQ1/build/
/PROJECT/PY01KatherineJhonson/nbproject/private/
/PROJECT/PY01KatherineJhonson/build/
/Exams/Exam_Correction/nbproject/private/
/workshops/unit1/WS08Debugging/nbproject/private/
/workshops/unit1/WS08Debugging/build/
/workshops/Unit2/WS08Debugging/build/
/workshops/Unit2/WS08Debugging/nbproject/private/
/assignments/Unit2/HW05Factorial/nbproject/private/
/assignments/Unit2/HW05Factorial/build/
/assignments/Unit2/HW05Factorial/dist/
/workshops/Unit2/SW08debugging/nbproject/private/
/workshops/Unit2/SW08debugging/build/
/assignments/Unit2/HW09-EmbeddedStructures/nbproject/private/
/assignments/Unit2/HW09-EmbeddedStructures/build/
/workshops/Unit2/WS10Funtions/nbproject/private/
/workshops/Unit2/WS10Funtions/build/
/assignments/Unit2/HW10-Functions/nbproject/private/
/assignments/Unit2/HW10-Functions/build/
/assignments/Unit2/WS11Refactory/nbproject/private/
/assignments/Unit2/WS11Refactory/build/
/assignments/Unit2/HW11Recursion/nbproject/private/
/assignments/Unit2/HW11Recursion/build/
/assignments/Unit2/JavaApplication37/nbproject/private/
/assignments/Unit2/JavaApplication37/build/
/workshops/Unit2/WS11Functions-Recursitity/WS11Refactory/nbproject/private/
/workshops/Unit2/WS11Functions-Recursitity/WS11Refactory/build/
/workshops/Unit2/WS12Libraries/nbproject/private/
/workshops/Unit2/WS12Libraries/build/
/assignments/Unit2/HW12Taxes/nbproject/private/
/assignments/Unit2/HW12Taxes/build/
/workshops/Unit2/WS13Task/nbproject/private/
/workshops/Unit2/WS13Task/build/
/workshops/Unit2/WS14ExploreTheNightSky/nbproject/private/
/workshops/Unit2/WS14ExploreTheNightSky/build/
/workshops/Unit2/HW14StarNames/nbproject/private/
/assignments/Unit2/HW13Observation/nbproject/private/
/assignments/Unit2/HW13Observation/build/
/assignments/Unit2/QuizCustomes/nbproject/private/
/assignments/Unit2/QuizCustomes/build/
/assignments/Unit2/WS16MatrixAddition/nbproject/private/
/workshops/Unit2/WS16MatrixAddition/nbproject/private/
/workshops/Unit2/WS16MatrixAddition/build/
/workshops/Unit2/WS15Q01_02222021Arrays/nbproject/private/
/workshops/Unit2/WS15Q01_02222021Arrays/build/
/workshops/Unit2/HW14-MatrixOperations/nbproject/private/
/workshops/Unit2/HW14-MatrixOperations/build/
/assignments/Unit2/HW16/nbproject/private/
/assignments/Unit2/HW16MatrixFunctions/nbproject/private/
/assignments/Unit2/HW16MatrixFunctions/build/
/assignments/Unit2/WS17MatrixTranspose/nbproject/private/
/assignments/Unit2/WS17MatrixTranspose/build/
/assignments/Unit2/arrays/nbproject/private/
/assignments/Unit2/arrays/build/
/Exams/JavaApplication54/nbproject/private/
/Exams/Unit2/BacuyFQ11.java/nbproject/private/
/Exams/Unit2/BacuyFQ11.java/build/
/Exams/Unit2/JavaApplication56/nbproject/private/
/workshops/unit3/BarrigaKQ11 - KAREN JHOMARA BARRIGA CARVAJAL/BarrigaEXAM2/build/
/workshops/unit3/BarrigaKQ11 - KAREN JHOMARA BARRIGA CARVAJAL/BarrigaEXAM2/nbproject/private/
/workshops/unit3/WS18ExamInspection/nbproject/private/
/workshops/unit3/WS18ExamInspection/build/
/workshops/Unit2/WS10Funtions/dist/
/workshops/unit3/WS20-JAR/nbproject/private/
/workshops/unit3/WS21Functions/nbproject/private/
/workshops/unit3/WS21Functions/build/
/workshops/unit3/WS21Functions/dist/
/workshops/unit3/WS22ModularCalculator/nbproject/private/
/workshops/unit3/WS22ModularCalculator/build/
/workshops/unit3/WS23TaxDecalaration/nbproject/private/
/workshops/unit3/TaxLibrary/nbproject/private/
/workshops/unit3/TaxLibrary/build/
/workshops/unit3/TaxLibrary/dist/
/workshops/unit3/WS23TaxDecalaration/TaxLibrary/build/
/workshops/unit3/WS23TaxDecalaration/TaxLibrary/dist/
/workshops/unit3/WS23TaxDecalaration/TaxLibrary/nbproject/private/
/workshops/unit3/WS23TaxDecalaration/build/
/assignments/unit3/HW17MatrixLibraries/nbproject/private/
/assignments/unit3/HW17MatrixLibraries/build/
/assignments/unit3/HW17MatrixLibraries/dist/
/assignments/unit3/MatrixLibrary/nbproject/private/
/assignments/unit3/matrixLibraries/nbproject/private/
/assignments/unit3/matrixLibrary/nbproject/private/
/assignments/unit3/HW17matrixLibraries/nbproject/private/
/assignments/unit3/HW17matrixLibraries/build/
/assignments/unit3/HW17matrixLibraries/dist/
/assignments/unit3/MatricesDeclaration/nbproject/private/
/assignments/unit3/HW17matrixLibraries/MatricesDeclaration/nbproject/private/
/assignments/unit3/MatrixDeclaration/nbproject/private/
/assignments/unit3/HW17MatrixLibrary/nbproject/private/
/assignments/unit3/HW17MatrixLibrary/dist/
/assignments/unit3/HW17MatrixLibrary/build/
/assignments/unit3/MatrixLibraries/nbproject/private/
/assignments/unit3/HW17MatrixLibrary/MatrixLibraries/nbproject/private/
/assignments/unit3/WS24SortingAlgorithms/nbproject/private/
/assignments/unit3/WS24SortingAlgorithms/build/
/assignments/unit3/JavaApplication9/nbproject/private/
/assignments/unit3/WS24Sorting/nbproject/private/
/workshops/unit3/WS24Sorting/build/
/assignments/unit3/HW17BinarySearch/nbproject/private/
/assignments/unit3/HW17BinarySearch/build/
/assignments/unit3/HW18MatrixLibrary/MatrixLibraries/nbproject/private/
/assignments/unit3/HW18MatrixLibrary/nbproject/private/
/assignments/unit3/HW18BLinearSearch/nbproject/private/
/assignments/unit3/HW19BinarySearch/nbproject/private/
/assignments/unit3/HW19BinarySearch/build/
/assignments/unit3/HW18BLinearSearch/build/
/assignments/unit3/HW19BinarySearch/dist/
/workshops/unit3/WS25OperationsWithStrings/nbproject/private/
/workshops/unit3/WS25OperationsWithStrings/build/
/workshops/unit3/HW20Persons_to_be_vaccinated/nbproject/private/
/workshops/unit3/SortingIntegers/nbproject/private/
/workshops/unit3/SortingIntegers/build/
/workshops/unit3/SortingIntegers/dist/
/assignments/unit3/SortingStrings/nbproject/private/
/assignments/unit3/HW20SortingStrings/SortingStrings/nbproject/private/
/assignments/unit3/HW20SortingStrings/SortingStrings/build/
/workshops/unit3/ArticleStoreSystem/nbproject/private/
/workshops/unit3/WS26/ArticleStoreSystem/nbproject/private/
/workshops/unit3/WS26/ArticleStoreSystem/build/
/workshops/unit3/WS26/ArticleStoreSystem/dist/
/workshops/unit3/ExamFPTCountry/nbproject/private/
/workshops/unit3/ExamFPTCountry/build/