/workshops/FP02_ControlStatement/nbproject/private/
/workshops/FP02_ControlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperations/JavaApplication6/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/JavaApplication6/build/