/workshops/FP02_ControlStatement/nbproject/private/
/workshops/FP02_ControlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperations/JavaApplication6/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/JavaApplication6/build/
/workshops/unit1/HW02/ASSIGNMENTS/HW02/nbproject/private/
/workshops/unit1/HW02/ASSIGNMENTS/HW02/build/
/assignments/Unit1/HW02/HW02_01/nbproject/private/
/assignments/Unit1/HW02/HW02_01/build/
/assignments/Unit1/HW02/HW02_02/nbproject/private/
/assignments/Unit1/HW02/HW02_03/nbproject/private/
/assignments/Unit1/HW02/HW02_03/build/
/assignments/Unit1/HW02/HW02_02/build/